.fallback {
  background-color: rgb(var(--color-error) / 5%);
  border: 1px solid rgb(var(--color-error) / 20%);
  border-radius: var(--radius-small);
  padding: 8px 12px;
}

.message {
  font-size: 0.75rem;
  color: rgb(var(--color-error));
}
